<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- <ul>
            <li v-for="(item,index) in arr" :key="index">
                {{item.name}}--{{item.age}} <input type="text">
            </li>
        </ul>
        <button @click="add()">添加</button> -->

        <!-- <ul>
            <li v-for="(item,index) in arr" :key="index">
                {{item.name}}--{{item.age}} <input type="text">
            </li>
        </ul>
        <button @click="add()">添加</button> -->
        <!-- <ul>
            <li v-for="(item,index) in arr" :key="index">
                {{item.name}}--{{item.age}} <input type="text">
            </li>
        </ul>
        <button @click="add()">添加</button> -->

    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            arr: [{
                    id: '01',
                    name: '张三',
                    age: 18
                },
                {
                    id: '02',
                    name: '李四',
                    age: 19
                },
                {
                    id: '03',
                    name: '王五',
                    age: 20
                }
            ]
        },
        methods: {
            // add() {
            //     // this.arr.push({
            //     //     id:'04',
            //     //     name:'老六',
            //     //     age:21
            //     // })
            //     //  this.arr.unshift({
            //     //     id:'04',
            //     //     name:'老六',
            //     //     age:21
            //     // })
            // }

            // add() {
            //     // this.arr.push({
            //     //     id:'04',
            //     //     name:'老六',
            //     //     age:21
            //     // })
            //     //  this.arr.unshift({
            //     //     id:'04',
            //     //     name:'老六',
            //     //     age:21
            //     // })
            // }

            // add() {
            //     // this.arr.push({
            //     //     id:'04',
            //     //     name:'老六',
            //     //     age:21
            //     // })
            //     //  this.arr.unshift({
            //     //     id:'04',
            //     //     name:'老六',
            //     //     age:21
            //     // })
            // }
        },
    })
</script>

</html>