<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>姓名：<input type="text" v-model="name"></p>
        <p>年龄：<input type="text" v-model="age"></p>
        <p><input type="text" v-model="all"></p>
        <p>{{all}}</p>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            name: "小张",
            age: 18,
        },
        computed: {
            // all: {
            //     get() {
            //         return this.name + ',' + this.age
            //     },
            //     set(value) {
            //         this.name = value.split(',')[0]
            //         this.age = value.split(',')[1]
            //     }
            // }

            // all: {
            //     get() {
            //         return this.name + ',' + this.age
            //     },
            //     set(value) {
            //         this.name = value.split(',')[0]
            //         this.age = value.split(',')[1]
            //     }
            // }

            // all: {
            //     get() {
            //         return this.name + ',' + this.age
            //     },
            //     set(value) {
            //         this.name = value.split(',')[0]
            //         this.age = value.split(',')[1]
            //     }
            // }

            // all(){
            //     return this.name+','+this.age
            // }

            // all(){
            //     return this.name+','+this.age
            // }
            // all(){
            //     return this.name+','+this.age
            // }

        },

    })
</script>

</html>